<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">[GUDEV]</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {% if page.url == "/" %} class="active"{% endif %}><a href="{{ site.baseurl }}/">About</a></li>

                <li class="{% if page.url contains '/events/' %}active{% endif %} dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="{% if page.url == '/events/' %}active{% endif %}" ><a href="{{ site.baseurl }}/events/">Upcoming Events</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="{% if page.url == '/events/gamejams/' %}active{% endif %}" ><a href="{{site.baseurl}}/events/gamejams/">Game Jams</a></li>
                    </ul>
                </li>

                <li class="{% if page.url contains '/projects/' %}active{% endif %}" ><a href="{{ site.baseurl }}/projects/">Projects</a></li>
                <li class="{% if page.url contains '/resources/' %}active{% endif %}" ><a href="{{ site.baseurl }}/resources/">Resources</a></li>
                <li class="{% if page.url contains '/contact/' %}active{% endif %}" ><a href="{{ site.baseurl }}/contact/">Contact</a></li>
                <li class="{% if page.url contains '/sponsors/'%}active{% endif %}"><a href="{{ site.baseurl }}/sponsors/">Sponsors</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <!--TODO: Fix the goddamn icons-->
                <li><a href="https://discord.gg/DhT3XgU"><img class="icon-image" src="{{site.baseurl}}/static/images/discord-official.png" width=512 height=512 alt="GUDEV Discord"></a></li>
                <li><a href="https://www.facebook.com/groups/gudev/"><img class="icon-image" src="{{site.baseurl}}/static/images/facebook-official1.png" width=512 height=512 alt="GUDEV Facebook"></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

