<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">[GUDEV]</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {% if page.url == "/" %} class="active"{% endif %}><a href="{{ site.baseurl }}/">About</a></li>
                <li {% if page.url contains '/events/' %} class="active"{% endif %}><a href="{{ site.baseurl }}/events/">Events</a></li>
                <li {% if page.url contains "/gamejam/" %} class="active"{% endif %}><a href="{{ site.baseurl }}/gamejam/">GameJam</a></li>
           <!--    <li {% if page.url contains "/gamedev/" %} class="active"{% endif %}><a href="{{ site.baseurl }}/gamedev/">GameDev</a></li> -->
                <li class="{% if page.url contains '/games/' %}active{% endif %}" ><a href="{{ site.baseurl }}/games/">Games</a></li>
                <li class="{% if page.url contains '/resources/' %}active{% endif %}" ><a href="{{ site.baseurl }}/resources/">Resources</a></li>
                <li class="{% if page.url contains '/contact/' %}active{% endif %}" ><a href="{{ site.baseurl }}/contact/">Contact</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://discord.gg/DhT3XgU"><img class="icon-image" src="{{site.baseurl}}/static/images/discord-official.png" width=512 height=512 alt="discord"></a></li>
          <!--      <li><a href="https://www.facebook.com/gudevsoc/"><img class="icon-image" src="{{site.baseurl}}/static/images/facebook-official.png" width=512 height=512 alt="fb"></a></li> -->
            </ul>
        </div>
    </div>
</nav>

