@import url('https://fonts.googleapis.com/css?family=Oswald');

nav {
    font-family: 'Oswald', sans-serif;
    font-size:18px;
    font-weight: 300;
}

.content{
  margin:60px auto;
  max-width:800px;
  line-height:1.6;
  font-size:18px;
  color:#444;
  padding:20px 40px;
}

.container{
  max-width:100%;
}

.indent{
  margin-left: 20px;
}

.player{
  max-width:1000px;
}

img {
  max-width: 100%;
  height:auto;
}

.gallery-image {
  width: 400px;
  height: 300px;
}

.gallery-thumbnail img {
  width: 250px;
  height: 150px;
  object-fit: cover;
}

.singe-image-thumbnail img {
  width: 600px;
  height: 300px;
  object-fit: cover;
}

.media-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.media-margin a {
  margin-bottom: 0px;
}

.figure-single-image {
  display: flex;
  justify-content: center;
}

.figure-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.figure-single-image img {
  margin-bottom: 0;
}

.figure-caption-text {
  font-size: 14px;
}

.icon-image {
  width: 32px;
  height: 32px;
}

h1, .btn-primary {
  margin-bottom: 20px;
}
h1,h2,h3,h4{
  font-family: 'Oswald', sans-serif;
  line-height:1.2;
  font-weight: 400;
}

.navbar, .dropdown-menu, #navbar, .btn-primary{
	background-color: #7893C2;
	z-index: 20;
}

.dropdown-header {
    color: #333;
}

.navbar {
    border-bottom-width:0px;
}

nav {
    min-height:25px;
}

.navbar a {
   color:white !important;
}

.nav > li:hover, .nav > .active {
    background-color: #ddd !important;
    color:black !important;

}

.nav > li > a:hover, .nav > .active > a, .dropdown-menu > li > a:hover{
    background-color: #ddd !important;
    color:black !important;
}

.navbar-right{    
    height: 50px !important;
}
.navbar-right > li{
    height: 100% !important;
}

.navbar-right > li > a {
  padding-bottom:0px;
  padding-top:10px;
  height:100%;
  text-align: center;
}

.links a{
	float: left; 
	display: block;
        color: white;
	text-align: center;
	padding: 20px 20px;
	text-decoration: none;
	font-size: 20px;
	
}

.wrap{
    overflow-x:wrap;
    white-space: normal;
}
