{% assign day = page.date | date: "%-d"  %}

<div>
    {% if page.link %}
        <h2><a href={{page.link}}>{{page.title}}</a></h2>
    {% else %}
        <h2>{{page.title}}</h2>
    {% endif %}
    <h5>
        {% if page.time %}
            {{ page.time }},
        {% endif %}

        {% if page.subheading %}
            {{ page.subheading }}
        {% else %} 
            {{page.date | date: "%A" }}
            {% case day %}
                {% when '1' or '21' or '31' %}{{ day }}st
                {% when '2' or '22' %}{{ day }}nd
                {% when '3' or '23' %}{{ day }}rd
            {% else %}{{ day }}th
            {% endcase %}
            {{page.date | date: "%B %Y"}}
        {% endif %}
    </h5>


    {% if page.venue %}
        <h5>{{page.venue}}</h5>
    {% endif %}

    {{ content }}
</div>
