<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>GUDEV - Unity Web Player</title>
        <link rel="stylesheet" href="TemplateData/style.css">
        <link rel="shortcut icon" href="TemplateData/favicon.ico" />
        <script src="TemplateData/UnityProgress.js"></script>
        {% include sitestyles.html %}
    </head>
	
    <body>
        {% include navbar.html %}        

        {{ content }}
    </body>

    {% include sitescripts.html %}
</html>
